body {
  background-color: rgb(31, 31, 31);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.controller {
  aspect-ratio: 2/1;
  background-color: rgb(37, 47, 56);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dpad {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dpad-button {
  width: 10%;
  aspect-ratio: 1;
  position: absolute;
  background-color: rgb(60, 60, 60);
}

.up {
  transform: translateY(-100%);
}

.down {
  transform: translateY(100%);
}

.left {
  transform: translateX(-100%);
}

.right {
  transform: translateX(100%);
}
